.main-container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.input-screen {
  background: blue;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.input-screen button {
  width: 10rem;
  height: 2rem;

  cursor: pointer;
}
